@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
:root {
  --theme-color: #55e6a5;
  --text-color: #c4c4c4;
  --dark-theme-sidebaar: #09101a;
  --bg-dark: #02050a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-dark);
  font-family: "Poppins", sans-serif;
}
/* font-family: "Poppins", sans-serif
font-family: "Open Sans", sans-serif;
*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 5px;
  box-shadow: 5px 14px 13px 2px #00000085;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: var(--theme-color);
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 16px;
}
img {
  max-width: 100%;
}

.my_cursor {
  mix-blend-mode: difference;
}
.default-btn {
}

.stroke_text {
  font-size: 60px;
  font-weight: 600;
  -webkit-text-stroke: 1.5px var(--theme-color);
  color: var(--bg-dark);
  text-shadow: 5px -1px 0px var(--theme-color);
  display: inline-block;
  letter-spacing: 7px;
  line-height: 1;
}

.title_text {
  padding: 2px 0 2px 13px;
  border-left: 4px solid;
  margin: 16px 0 15px 0px;
}
.tag_block {
  background: var(--theme-color);
  padding: 5px 18px;
  color: #fff;
  font-size: 15px;
  border-radius: 2px;
  display: inline-block;
}
/* =============Side bar================= */
.sideBar {
  position: fixed;
  width: 260px;
  left: 0;
  height: 100%;
  background: var(--dark-theme-sidebaar);
  overflow: auto;
}

.logo h2 {
  color: var(--theme-color);
  text-align: center;
  font-size: 25px;
  padding: 17px 0;
  background: #151c25;
  font-weight: 600;
  letter-spacing: 2px;
  border-bottom: 3px solid var(--theme-color);
  box-shadow: 0 0 20px 6px #00000073;
}

.sideMenu ul li {
  list-style: none;
  overflow: hidden;
}
.sideMenu ul {
  padding: 0;
  margin: 47px 0 0 0;
}

.sideMenu ul li a {
  display: block;
  margin: 15px 19px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 11px;
  font-size: 16px;
  color: var(--text-color);
  transition: 0.5s;
}
.sideMenu ul li a span {
  width: 60px;
  height: 60px;
  display: inline-flex;
  vertical-align: middle;
  border-radius: 11px;
  margin-right: 19px;
  text-align: center;
  background: #222831;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}
.sideMenu ul li a span svg {
  height: 100%;
  width: 25px;
  font-size: 4;
}

.sideMenu ul li a:hover,
.sideMenu ul li a.active {
  color: var(--theme-color);
}

.sideMenu ul li a:hover span,
.sideMenu ul li a.active span {
  background: var(--theme-color);
  color: #000;
}

.socialIcon ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 17px 0;
  border-top: 3px solid var(--theme-color);
}

.socialIcon ul i {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4c4c4cba;
  font-size: 16px;
  color: var(--theme-color);
  transition: 0.5s;
  border-radius: 6px;
}

.sideBar_inner_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.socialIcon ul i:hover {
  background: var(--theme-color);
  color: #fff;
  border-color: var(--theme-color);
}

.main_content {
  height: 100vh;
  max-width: calc(100vw - 260px);
  margin-left: 260px;
}
.home_banner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home_banner_left {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0px 35px 0 27px;
  max-width: 700px;
  width: 100%;
}
.home_banner_left p {
  color: #a2a2a2;
  font-family: "Poppins", sans-serif;
}

.banner-content h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}

/* ========About setion========== */
.about_sec {
  width: 100%;
  padding: 70px 24px 35px 24px;
}

.about_content {
  padding-right: 25px;
  text-align: justify;
}
.about_content p {
  margin-bottom: 8px;
}

.specialize_block {
  background: #282828;
  padding: 39px 24px;
  text-align: center;
  border-radius: 11px;
  transform-style: preserve-3d;
  margin-bottom: 15px;
  overflow: hidden;
}

.specialize_block img {
  width: 60px;
}

.specialize_block h6 {
  margin: 17px 0 7px 0;
}

.specialize_block p {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  margin: 0;
}
.about_img {
  position: relative;
}
.about_img img {
  border-radius: 3px;
  position: relative;
  z-index: 1;
}
.about_img::before {
  position: absolute;
  content: "";
  background: url(pattern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  top: -40px;
  right: -20px;
  z-index: -1;
  animation: aboutAmini linear 2s infinite alternate;
  -webkit-animation: aboutAmini linear 2s infinite alternate;
}

.tilt-effect {
  height: 100%;
  position: absolute;
  width: 100%;
}
.bord:after {
  position: absolute;
  content: "";
  top: 27px;
  left: -22px;
  height: 100%;
  width: 100%;
  border: 11px solid var(--theme-color);
}
.skill-sec {
  padding: 61px 0 30px 0;
}

.specialized_sec {
  padding: 32px 0 0 0;
}

.specialize_block:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 35%;
  width: 39%;
  background: var(--theme-color);
  border-radius: 0 0 100%;
}
.specialize_block:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  height: 20%;
  width: 26%;
  background: var(--theme-color);
  z-index: 0;
  border-radius: 100% 0 0;
}
.specialize_block_inner {
  position: relative;
  z-index: 2;
}

@keyframes aboutAmini {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  to {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

.resume_head {
  position: relative;
  display: inline-block;
}

.resume_head span {
  position: absolute;
  bottom: -23px;
  right: -42px;
}
.myProgress.progress .progress-bar {
  background-color: #007d45;
}
.exp_block {
  position: relative;
  padding: 28px 0px 0 0;
}

.exp_content {
  padding: 0 0 40px 50px;
  position: relative;
}
.exp_content:before {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  border-left: 2px solid var(--theme-color);
}
.exp_content:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -9px;
  height: 20px;
  width: 20px;
  background: var(--bg-dark);
  border-radius: 50%;
  border: 5px solid var(--theme-color);
  box-shadow: 0 0 0px 0px var(--theme-color);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(85, 230, 165, 0.5);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 15px rgb(85, 230, 165, 0);
  }
}

.exp_content_block h6 {
  margin: 0 0 0 -50px;
}

.exp_block h4 {
  margin: 8px 0px 10px 0;
}
.exp-title {
  margin: 21px 0px 5px 0px;
  position: relative;
}

.exp_content_block {
  position: relative;
  margin: 53px 0 0 0;
}

.exp-title:after {
  position: absolute;
  content: "";
  left: -58px;
  height: 18px;
  width: 18px;
  background: var(--theme-color);
  border: 5px solid var(--dark-theme-sidebaar);
  padding: 0px;
  box-shadow: 0px 0px 0 2px #2d9b6a;
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s;
}

.exp-title:before {
  position: absolute;
  content: "";
  left: -38px;
  height: 15px;
  width: 15px;
  background: var(--dark-theme-sidebaar);
  z-index: 2;
  transform: rotate(45deg) scale(0.78);
  transform-origin: center;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid var(--theme-color);
  box-shadow: 0 0 0 3px var(--dark-theme-sidebaar);
  transition: 0.5s;
}

.exp_content_block:hover .exp-title:before {
  transform: rotate(315deg) scale(0.8);
  transform-origin: center;
  left: -25px;
  background: var(--theme-color);
  border: 4px solid var(--dark-theme-sidebaar);
  box-shadow: 0 0 0 3px #2d9b6a;
}
.dreams-logo img {
  height: 17px;
  margin: 0 8px 0px 0;
}

.event-description {
  color: #737373;
  font-style: italic;
  margin: 0 0 14px 0;
  display: inline-block;
}
.myProgress.progress {
  height: 11px;
  border: 0.1px solid var(--theme-color);
  background: #b3b3b324;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 4px 0px #000000;
  border-radius: 0;
}

.progress_block {
  margin: 0 0 27px 0;
}

.skill_name {
  color: #fff;
}

.tech_skills {
  margin: 41px 0;
}
