:root {
  --theme-color: #55e6a5;
  --text-color: #fefefe;
  --dark-theme-sidebaar: #09101a;
  --bg-dark: #02050a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-dark);
  font-family: "Poppins", sans-serif;
}
/* font-family: "Poppins", sans-serif
font-family: "Open Sans", sans-serif;
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: var(--theme-color);
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}
img {
  max-width: 100%;
}
.default-btn {
}
.sideBar {
  position: fixed;
  width: 280px;
  left: 0;
  height: 100vh;
  background: var(--dark-theme-sidebaar);
}

.logo {
  color: var(--theme-color);
  text-align: center;
  font-size: 32px;
  padding: 17px 0;
  background: #151c25;
}

.sideMenu ul li {
  list-style: none;
  overflow: hidden;
}
.sideMenu ul {
  padding: 0;
  margin: 47px 0 0 0;
}

.sideMenu ul li a {
  display: block;
  margin: 15px 19px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 11px;
  font-size: 18px;
  color: #fff;
  transition: 0.5s;
}
.sideMenu ul li a span {
  padding: 18px 18px;
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 11px;
  margin-right: 19px;
  text-align: center;
  background: #222831;
  transition: 0.5s;
}
.sideMenu ul li a span svg {
  height: 100%;
  width: 25px;
  font-size: 4;
}

.sideMenu ul li a:hover,
.sideMenu ul li a.active {
  color: var(--theme-color);
}

.sideMenu ul li a:hover span,
.sideMenu ul li a.active span {
  background: var(--theme-color);
  color: #000;
}

.main_content {
  height: 100vh;
  max-width: calc(100vw - 280px);
  margin-left: 280px;
}
.home_banner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home_banner_left {
  display: flex;
  height: 100%;
  align-items: center;
  /* color: #fff; */
  padding: 0 66px;
  width: 61%;
}
.home_banner_left p {
  color: #a2a2a2;
  font-family: "Poppins", sans-serif;
}

.banner-content h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
/* ========About setion========== */
.about_sec {
  width: 100%;
  padding: 70px 30px;
}
.stroke_text {
  font-size: 65px;
  font-weight: 600;
  -webkit-text-stroke: 1.5px var(--theme-color);
  color: var(--bg-dark);
  text-shadow: 5px -2px 2px #55e6a5;
  display: inline-block;
  letter-spacing: 6px;
  line-height: 1;
}
.about_content {
  padding-right: 40px;
}

.title_text {
  padding: 3px 0 3px 21px;
  border-left: 5px solid;
  margin: 21px 0 15px 0px;
}
.specialize_block {
  background: #282828;
  padding: 39px 24px;
  text-align: center;
  border-radius: 11px;
  transform-style: preserve-3d;
  margin-bottom: 15px;
}

.specialize_block img {
  width: 60px;
}

.specialize_block h6 {
  margin: 17px 0 7px 0;
}

.specialize_block p {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  margin: 0;
}
