* {
  margin: 0;
  padding: 0;
}
/* font-family: "Poppins", sans-serif
font-family: "Open Sans", sans-serif;
*/
a {
  text-decoration: none;
}
body {
  background: #0f0f0f;
}
.sideBar {
  position: fixed;
  width: 280px;
  left: 0;
  height: 100vh;
  background: #09101a;
}

.logo {
  color: #55e6a5;
  text-align: center;
  font-size: 32px;
  padding: 17px 0;
  background: #151c25;
}

.sideMenu ul li {
  list-style: none;
  overflow: hidden;
}
.sideMenu ul {
  padding: 0;
  margin: 47px 0 0 0;
}

.sideMenu ul li a {
  display: block;
  margin: 15px 19px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 11px;
  font-size: 18px;
  color: #fff;
  transition: 0.5s;
}
.sideMenu ul li a span {
  padding: 18px 18px;
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 11px;
  margin-right: 19px;
  text-align: center;
  background: #222831;
  transition: 0.5s;
}
.sideMenu ul li a span svg {
  height: 100%;
  width: 25px;
  font-size: 4;
}

.sideMenu ul li a:hover,
.sideMenu ul li a.active {
  color: #55e6a5;
}

.sideMenu ul li a:hover span,
.sideMenu ul li a.active span {
  background: #55e6a5;
  color: #000;
}

.main_content {
  height: 100vh;
  width: calc(100vw - 280px);
  /* background: #000; */
  margin-left: auto;
}
.home_banner {
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home_banner_left {
  display: flex;
  height: 100%;
  align-items: center;
  color: #fff;
  padding: 0 66px;
  width: 61%;
}
.home_banner_left p {
  color: #a2a2a2;
  font-family: "Poppins", sans-serif;
}

.banner-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
